<% content_for(:page_title, "Sign Up") %>
<br>
<br>
<div class="card text-center">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <br>
  <br>
  <div class="card-body">
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="form-group">
        <% f.label :username, 'User Name:' %>
        <%= f.text_field :username, class:'form-control', placeholder:'Username' %>
      </div>
      <div>
        <%= f.submit "Sign Up", class:'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>
  </div>
</div>
