<% content_for(:page_title, "Private Events") %>
<div>
  <% if current_user%>
    <%= "Signed in as: #{ current_user.username }" %>
    <%= link_to 'Sign Out', signout_path %>
  <% else %>  
    <%= link_to 'Sign Up', new_user_path %>
    <%= link_to 'Sign In', new_login_path %>
  <% end %>
</div>